:root {
  --bg: #010101;
  --putih: #fff;
  --oren: #b6895b;
  --biru: #0f2167;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--putih);
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: var(--bg);
  scroll-behavior: smooth;
}
h1 {
  font-size: 50px;
}
h1,
h3,
h4 {
  /* color: var(--oren); */
  color: var(--putih);
}
p {
  font-size: 20px;
}

/* navbar */

.navbar {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  z-index: 99;
}
.navbar.sticky {
  background-color: var(--putih);
  color: var(--bg);
  transition: all 0.2s;
}
.navbar.sticky a {
  color: var(--bg);
}

.navbar a:hover {
  color: rgb(158, 158, 224);
}
.navbar a::after {
  content: '';
  transform: scaleX(0);
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--putih);
  transition: 0.2s linear;
}
.navbar a:hover::after {
  transform: scaleX(0.5);
}

.navbar.sticky a:hover {
  color: rgb(158, 158, 224);
}
.navbar.sticky a::after {
  content: '';
  transform: scaleX(0);
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--biru);
  transition: 0.2s linear;
}
.navbar.sticky a:hover::after {
  transform: scaleX(0.5);
}
/* benner */

.benner .content {
  /* position: absolute; */
  display: block;
  margin: 180px auto;
  text-align: center;
  /* border: 1px solid var(--putih); */
}
.content .content-p {
  margin-top: 20px;
}

.background-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 2000px; */
  z-index: -100;
  /* border: 1px solid var(--putih); */
}
.benner {
  position: relative;
  height: 60vh;
}
.benner::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  /* border: 1px solid var(--putih); */
  background: rgb(1, 1, 1);
  background: linear-gradient(0deg, rgba(1, 1, 1, 1) 20%, rgba(11, 29, 41, 0) 100%);
}
/* about */

.about {
  padding: 20px;
  text-align: center;
  /* margin-top: 90px; */
  /* border: 1px solid var(--putih); */
  line-height: 30px;
  background-color: var(--bg);
}
.about p {
  margin: 10px 0;
}
.about h3 {
  font-size: 40px;
}
.about .row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .row img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
}
.about .content {
  font-size: 20px;
  width: 500px;
  height: 250px;
  padding: 10px;
  margin: 90px 0 0 0;
  justify-content: center;
  /* border: 1px solid white; */
}

/* Experience */

.Experience {
  color: var(--bg);
  position: relative;
  line-height: 30px;
  text-align: center;
  /* margin-top: 90px; */
  padding: 100px 10px;
}
.Experience h4 {
  font-size: 40px;
}
.Experience::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  /* border: 1px solid var(--putih); */
  background: linear-gradient(180deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}
.container-Experience {
  color: var(--bg);
  width: 70%;
  margin: 80px auto;
  background-color: var(--putih);
  border-radius: 20px;
  padding: 60px 20px;
}
.container-Experience h4 {
  font-size: 40px;
  color: var(--bg);
}
.container-Experience p {
  color: var(--bg);
}
.portofolio h3 {
  margin-top: 10px;
  color: var(--putih);
  font-size: 40px;
}
h3 {
  color: var(--putih);
}

.Experience .fontend {
  margin-top: 30px;
  font-weight: bold;
}
.Experience .row {
  margin-top: 60px;
  display: flex;
  /* margin: 80px auto 0 auto; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: 1px solid var(--puth); */
  border: 1px solid white;
}

.icon-html {
  width: 90px;
  height: 70px;
}
.icon-js {
  width: 70px;
  height: 70px;
}

/* portofolio */
.portofolio {
  position: relative;
  padding: 30px 10px;
  line-height: 30px;
  /* margin-top: 90px; */
  text-align: center;
  /* border: 1px solid var(--putih); */
  background-color: var(--bg);
}
.portofolio::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  top: -160px;
  left: 0;
  right: 0;
  background: rgb(1, 1, 1);
  background: linear-gradient(0deg, rgba(1, 1, 1, 1) 20%, rgba(11, 29, 41, 0) 100%);
}

.portofolio img {
  width: 100%;
  /* height: 100vh; */
}
.portofolio .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portofolio .row .conten-portofolio {
  margin-top: 40px;
  width: 400px;
  /* border: 1px solid var(--putih); */
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}
.portofolio .row .conten-portofolio:hover {
  transform: scale(1.1);
}

/* footer */
.contact {
  line-height: 30px;
  text-align: center;
  padding: 30px 0 0 0;
  color: var(--bg);
  background-color: var(--biru);
}
.socials a {
  margin: 0 30px;
}

.credit {
  padding: 10px 0;
}

/* responsive */
@media (max-width: 818px) {
  .portofolio::after {
    display: none;
  }
}
@media (max-width: 758px) {
  html {
    font-size: 98%;
  }
  .Experience .row {
    display: flex;
    flex-wrap: wrap;
  }
  .background-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: -100;
  }
  .benner .content {
    display: block;
    margin: 160px auto 0 auto;
    text-align: center;
    z-index: 9;
  }
  .portofolio::after {
    display: none;
  }
  .Experience::after {
    display: none;
  }
  .socials a {
    margin: 20px 30px;
  }
}
@media (max-width: 646px) {
  h1 {
    font-size: 30px;
  }
  /* .about p {
    margin: 10px 0;
  }
  .about h3 {
    font-size: 40px;
  } */
  p {
    font-size: 20px;
  }
  .background-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: -100;
  }
}
